body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#center {
  text-align: center;
  color: white;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
  margin-top: -45px;
}

#email {
  font-size: 1em;
  margin-top: -25px;
  display: block;
}

#link-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  padding-bottom: 10px;
}

@media (max-width: 1024px) {
  #link-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  a {
    font-size: 2em;
  }
}

a {
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s ease;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
}
